<template>
  <div class="container col-md-4">
    <form @submit.prevent="add">
      <div class="form-group">
        <label>Title</label>
        <input type="text" v-model="form.title" class="form-control" />
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="text" v-model="form.description" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios';
import { getToken } from '../../utils/auth';

export default {
  name: 'CreateLearningMethod',
  data() {
    return {
      form: {
        title: '',
        description: ''
      }
    }
  },
  mounted() {},
  methods: {
    add() {
      let dataLogin = JSON.parse(getToken("data_login"))
      let mentor_id = dataLogin.mentor_id;
      const headers = {
        "Content-Type": "application/json",
        "Authorization": "Bearer " + getToken("api_token")
      };
      axios
        .post(process.env.VUE_APP_API_URL + "/mentor/learning-method/create", {
          title: this.form.title,
          description: this.form.description,
          mentor_id: mentor_id,
        }, { headers: headers })
        .then(res => {
          this.$alert("Success Create")
          setTimeout(() => {
            this.$router.push("/learning-method");
          }, 2000);
        })
        .catch(err => {
          console.log(err.response);
          this.$alert(err.response.data.message)
        })
    }
  }
}
</script>
