<template>
  <div class="container col-md-4">
    <form @submit.prevent="updateData">
      <div class="form-group">
        <label>Status</label>
        <select v-model="status" class="form-control">
          <option>-- Select Status --</option>
          <option value="2">Accept</option>
          <option value="3">Decline</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios';
import { getToken } from '../../utils/auth';

export default {
  name: 'Edit',
  data() {
    return {
      status: ""
    }
  },
  mounted() {},
  methods: {
    updateData() {
      let params = this.$route.params.participant_id;
      const headers = {
        "Content-Type": "application/json",
        "Authorization": "Bearer " + getToken("api_token")
      };
      axios
        .post(process.env.VUE_APP_API_URL + "/mentor/accepting", {
          participant_id: params,
          status: this.status
        }, { headers: headers })
        .then(res => {
          this.$alert("Success update status");

          setTimeout(() => {
            this.$router.push("/mentoring");
          }, 2000);
        })
        .catch(err => {
          console.log(err.response);
          this.$alert(err.response.data.message)
        })
    }
  }
}
</script>
