<template>
  <div class="container">
    <a style="color: white;" href="/learning-method/create" class="btn btn-primary">Create New Learning Method</a>
    <hr />
    <div v-if="dataFound">
      <h3>Not Found</h3>
    </div>
    <div v-else>
        <h4 v-if="!loading" style="margin-top: 42px;">
        <pulse-loader></pulse-loader>
      </h4>
      <table v-else class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="row in list" :key="row.id">
            <td>{{ row.title }}</td>
            <td>{{ row.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
import { getToken } from '../../utils/auth';

export default {
  name: 'LearningMethod',
  components: {
    PulseLoader
  },
  data() {
    return {
      list: [],
      loading: false,
      mentor_id: "",
      dataFound: false
    }
  },
  mounted() {
    let dataLogin = JSON.parse(getToken("data_login"))
    this.mentor_id = dataLogin.mentor_id;
    this.loadData(this.mentor_id)
  },
  methods: {
    loadData(id) {
      const headers = {
        "Content-Type": "application/json",
        "Authorization": "Bearer " + getToken("api_token")
      };
      axios
        .get(process.env.VUE_APP_API_URL + "/mentor/learning-method/" + id, { headers: headers })
        .then(result => {
          setTimeout(() => {
            this.loading = true;
          }, 1000)
          this.list = result.data.data;
        })
        .catch(err => {
          if (err.response.data.message == 'Not Found') {
            this.dataFound = true
          }
        });
    }
  }
}
</script>
