<template>
  <div class="container">
    <div v-if="dataFound">
      <h3>Not Found</h3>
    </div>
    <div v-else>
        <h4 v-if="!loading" style="margin-top: 42px;">
        <pulse-loader></pulse-loader>
      </h4>
      <table v-else class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="row in list" :key="row.id">
            <td>{{ row.name }}</td>
            <td>{{ row.gender }}</td>
            <td>{{ row.address }}</td>
            <td>
              <button
                @click="editData(row)"
                type="button"
                class="btn btn-success mr-1 ml-1"
              >
                {{ row.status == 1 ? 'Pending' : row.status == 2 ? 'Accept' : row.status == 3 ? 'Decline' : 'No Status' }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
import { getToken } from '../../utils/auth';

export default {
  name: 'Mentoring',
  components: {
    PulseLoader
  },
  data() {
    return {
      list: [],
      loading: false,
      mentor_id: "",
      dataFound: false
    }
  },
  mounted() {
    let dataLogin = JSON.parse(getToken("data_login"))
    this.mentor_id = dataLogin.mentor_id;
    this.loadData(this.mentor_id)
  },
  methods: {
    loadData(id) {
      const headers = {
        "Content-Type": "application/json",
        "Authorization": "Bearer " + getToken("api_token")
      };
      axios
        .get(process.env.VUE_APP_API_URL + "/mentor/mentoring/" + id, { headers: headers })
        .then(result => {
          setTimeout(() => {
            this.loading = true;
          }, 1000)
          this.list = result.data.data;
        })
        .catch(err => {
          if (err.response.data.message == 'Not Found') {
            this.dataFound = true
          }
        });
    },
    editData(data) {
      this.$router.push({
        name: 'EditMentoring',
        params: { participant_id: data.participant_id }
      })
    }
  }
}
</script>
