<template>
  <div class="container col-md-4">
    <h3>Profile</h3>
    <hr />
    <form @submit.prevent="updateData">
      <div class="form-group">
        <label>Email</label>
        <input v-model="formEdit.email" type="text" class="form-control" disabled />
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input v-model="formEdit.phone" type="text" class="form-control" disabled />
      </div>
      <div class="form-group">
        <label>Name</label>
        <input v-model="formEdit.name" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label>Gender</label>
        <input v-model="formEdit.gender" type="text" placeholder="male / female" class="form-control" />
      </div>
      <div class="form-group">
        <label>Address</label>
        <input v-model="formEdit.address" type="text" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios';
import { getToken } from '../../utils/auth';

export default {
  name: 'ProfileMentor',
  data() {
    return {
      formEdit: {
        name: "",
        email: "",
        phone: "",
        gender: "",
        address: ""
      }
    }
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData() {
      let dataLogin = JSON.parse(getToken("data_login"))
      let userId = dataLogin.id;
      const headers = {
        "Content-Type": "application/json",
        "Authorization": "Bearer " + getToken("api_token")
      };
      axios
        .get(process.env.VUE_APP_API_URL + "/mentor/profile/" + userId, { headers: headers })
        .then(res => {
          this.formEdit.name = res.data.data.name;
          this.formEdit.email = res.data.data.email;
          this.formEdit.phone = res.data.data.phone;
          this.formEdit.gender = res.data.data.gender;
          this.formEdit.address = res.data.data.address;
        })
        .catch(err => {
          console.log(err.response);
          this.$alert(err.response.data.message)
        })
    },
    updateData() {
      let dataLogin = JSON.parse(getToken("data_login"))
      let userId = dataLogin.id;
      const headers = {
        "Content-Type": "application/json",
        "Authorization": "Bearer " + getToken("api_token")
      };
      axios
        .post(process.env.VUE_APP_API_URL + "/mentor/profile/update/" + userId, this.formEdit, { headers: headers })
        .then(res => {
          this.$alert(res.data.message);

          setTimeout(() => {
            window.location.href = '/';
          }, 2000);
        })
        .catch(err => {
          console.log(err.response);
          this.$alert(err.response.data.message)
        })
    }
  }
}
</script>
