<template>
  <div class="container col-md-4">
    <form @submit.prevent="updateData">
      <div class="form-group">
        <label>Mentor</label>
        <select v-model="mentor_id" class="form-control">
          <option>-- Select Mentor --</option>
          <option v-for="row in mentor" :key="row.id" :value="row.id">{{ row.name }}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios';
import { getToken } from '../../utils/auth';

export default {
  name: 'ChooseMentor',
  data() {
    return {
      status: "",
      mentor: [],
      mentor_id: ""
    }
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData() {
      const headers = {
        "Content-Type": "application/json",
        "Authorization": "Bearer " + getToken("api_token")
      };
      axios
        .get(process.env.VUE_APP_API_URL + "/participant/mentor", { headers: headers })
        .then(result => {
          this.mentor = result.data.data;
        })
        .catch(err => {
          console.log(err.response);
          this.$alert(err.response.data.message)
        });
    },
    updateData() {
      let dataLogin = JSON.parse(getToken("data_login"))
      let participant_id = dataLogin.participant_id;
      const headers = {
        "Content-Type": "application/json",
        "Authorization": "Bearer " + getToken("api_token")
      };
      axios
        .post(process.env.VUE_APP_API_URL + "/participant/choose-mentor", {
          participant_id: participant_id,
          mentor_id: this.mentor_id
        }, { headers: headers })
        .then(res => {
          this.$alert(res.data.message);

          setTimeout(() => {
            this.$router.push("/show-mentor");
          }, 2000);
        })
        .catch(err => {
          console.log(err.response);
          this.$alert(err.response.data.message)
        })
    }
  }
}
</script>
