<template>
  <div class="container">
    <center>
      <div class="col-4">
        <div class="card text-white">
          <div class="card-body">
            <h3 class="card-title mb-4" style="color: black;">Login</h3>
            <form class="mb-2" @submit.prevent="login">
              <div class="form-group">
                <input
                  v-model="credentials.email"
                  type="email"
                  name="email"
                  class="form-control"
                  aria-describedby="emailHelp"
                  placeholder="Enter Email"
                />
              </div>
              <div class="form-group">
                <input
                  v-model="credentials.password"
                  type="password"
                  name="password"
                  class="form-control"
                  placeholder="Enter Password"
                />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <a href="/register" style="color: black;">Register here</a>
          </div>
        </div>
      </div>
    </center>
  </div>
</template>

<script>
import axios from "axios";
import { setToken, setDataLogin } from "../utils/auth";

export default {
  name: 'Login',
  data() {
    return {
      credentials: {
        email: "",
        password: ""
      }
    }
  },
  methods: {
    async login() {
      const url = `${process.env.VUE_APP_API_URL}/login`;
      const headers = {
        "Content-Type": "application/json"
      };
      await axios
        .post(url, this.credentials, { headers: headers })
        .then(res => {
          if (res.data.code === '00') {
            this.$alert(res.data.message);
            setToken(res.data.data.token);
            setDataLogin(JSON.stringify(res.data.data));

            setTimeout(() => {
              window.location.href = '/';
            }, 1000);
          } else {
            this.$alert(res.data.message);
          }
        })
        .catch(err => {
          console.log(err.response);
          this.$alert(err.response.data.message);
        })
    }
  }
}
</script>
