<template>
  <div class="container">
    <center>
      <div class="col-4">
        <div class="card text-white">
          <div class="card-body">
            <h3 class="card-title mb-4" style="color: black;">Register</h3>
            <form class="mb-2" @submit.prevent="register">
              <div class="form-group">
                <input
                  v-model="data.email"
                  type="email"
                  name="email"
                  class="form-control"
                  placeholder="Enter Email"
                />
              </div>
              <div class="form-group">
                <input
                  v-model="data.name"
                  type="text"
                  name="name"
                  class="form-control"
                  placeholder="Enter Name"
                />
              </div>
              <div class="form-group">
                <input
                  v-model="data.phone"
                  type="text"
                  name="phone"
                  class="form-control"
                  placeholder="Enter Phone"
                />
              </div>
              <div class="form-group">
                <input
                  v-model="data.password"
                  type="password"
                  name="password"
                  class="form-control"
                  placeholder="Enter Password"
                />
              </div>
              <div class="form-group">
                <select v-model="data.role_id" class="form-control form-control-sm">
                  <option selected>Select Role</option>
                  <option value="1">Mentor</option>
                  <option value="2">Participant</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <a href="/login" style="color: black;">Login here</a>
          </div>
        </div>
      </div>
    </center>
  </div>
</template>

<script>
import axios from "axios";
import { setToken } from "../utils/auth";

export default {
  name: 'Register',
  data() {
    return {
      data: {
        email: "",
        password: "",
        role_id: "",
        phone: ""
      }
    }
  },
  methods: {
    async register() {
      console.log(this.data)
      const url = `${process.env.VUE_APP_API_URL}/register`;
      const headers = {
        "Content-Type": "application/json"
      };
      await axios
        .post(url, {
          name: this.data.name,
          email: this.data.email,
          phone: this.data.phone,
          password: this.data.password,
          confirm_password: this.data.password,
          role_id: this.data.role_id
        }, { headers: headers })
        .then(res => {
          console.log(res)
          if (res.data.code === '00') {
            this.$alert(res.data.message);

            setTimeout(() => {
              this.$router.push("/login");
            }, 2000);
          } else {
            this.$alert(res.data.message);
          }
        })
        .catch(err => {
          this.$alert(err.response.data.message);
        })
    }
  }
}
</script>
