<template>
  <div>
    <div v-if="!token">
      <div class="container mt-5 mb-4">
        <router-view />
      </div>
    </div>
    <div v-else>
      <nav class="navbar navbar-expand-lg navbar-light bg-light pl-5 pr-5">
        <a class="navbar-brand" href="/"><b>Mentoring Module {{ role === 1 ? '| Mentor' : '| Participant' }}</b></a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul v-if="role === 1" class="navbar-nav">
            <li class="nav-item">
              <router-link class="nav-link" to="/mentoring"
                >Mentoring-Participant</router-link
              >
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/learning-method"
                >Learning Method</router-link
              >
            </li>
          </ul>
          <ul v-else class="navbar-nav">
            <li class="nav-item">
              <router-link class="nav-link" to="/show-mentor"
                >Mentor</router-link
              >
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/participant/learning-method"
                >Learning Method</router-link
              >
            </li>
          </ul>
        </div>
        <div>
          Hi, {{ role === 1 ? nameMentor : nameParticipant }} 
          <a :href="role === 1 ? '/profile-mentor' : '/profile-participant'"><span class="badge badge-success">Profile</span></a> |
          <a @click="logout" href="/"><span class="badge badge-secondary">Logout</span></a>
        </div>
      </nav>
      <div class="container mt-5 mb-4">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { removeToken } from "./utils/auth";
import { getToken } from './utils/auth';

export default {
  name: 'App',
  data () {
    return { 
      user_id: "",
      token: "",
      role: "",
      nameParticipant: "",
      nameMentor: "",
      mentor_id: "",
      participant_id: ""
    }
  },
  mounted() {
    let dataLogin = JSON.parse(getToken("data_login"))
    this.token = getToken("api_token");
    this.role = dataLogin.role_id;
    this.user_id = dataLogin.id;
    this.mentor_id = dataLogin.mentor_id;
    this.participant_id = dataLogin.participant_id;
    this.getDataParticipant();
    this.getDataMentor();
  },
  methods: {
    getDataParticipant() {
      const headers = {
        "Content-Type": "application/json",
        "Authorization": "Bearer " + getToken("api_token")
      };
      axios
        .get(process.env.VUE_APP_API_URL + "/participant/profile/" + this.user_id, { headers: headers })
        .then(res => {
          this.nameParticipant = res.data.data.name;
        })
        .catch(err => {
          // console.log(err.response);
          // this.$alert(err.response.data.message)
        })
    },
    getDataMentor() {
      const headers = {
        "Content-Type": "application/json",
        "Authorization": "Bearer " + getToken("api_token")
      };
      axios
        .get(process.env.VUE_APP_API_URL + "/mentor/profile/" + this.user_id, { headers: headers })
        .then(res => {
          this.nameMentor = res.data.data.name;
        })
        .catch(err => {
          // console.log(err.response);
          // this.$alert(err.response.data.message)
        })
    },
    logout() {
      removeToken("api_token");
      this.$router.push("/login");
    }
  } 
}
</script>
